<%- include("./html", {title: "Nike Store. Favourites", navbar:"/CSS/navbar.css", signLink:"", footer:"/CSS/footer.css"})%>

    <link rel="stylesheet" href="/CSS/checkout.css">
    <script src="https://kit.fontawesome.com/683b4b40e3.js" crossorigin="anonymous"></script>
    <title>Nike.com Checkout</title>
</head>
<body>
    <!-- Navbar -->
    <div id="navbar_suraj"></div>

    <div id="checkot_main_container_div">
        <div id="checkout_main_proccess_div">
            <h1>1. DELIVERY DETAILS</h1>
            <div id="checkout_adress_div">
                <div id="checkout_name">
                    <input type="text" placeholder="First Name" id="userfirstname">
                    <input type="text" placeholder="Last Name" id="userlastname">
                </div>
                <input type="text" placeholder="Enter Address" id="useraddress">
                <div id="checkout_email_phnnumber">
                    <input type="email" placeholder="Email Id" id="useremail">
                    <input type="number" placeholder="Phone Number" id="userphnnum">
                </div>
                <div id="checkout_add_details_button_div">
                    <button id="checkout_add_details_button" onclick="addDetails()">Save & Countinue</button>
                </div>
            </div>
            <h1>2. PAYMENT</h1>
            <div id="checkout_payment_div">
                <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="12" id="cardnumber" placeholder="Card Number">
                <div>
                    <h3 id="expirydateheading">Expiry Date</h3>
                    <input type="month" id="cardexpirydate" min="1" max="10">
                    <input type="number" placeholder="CVV" id="cardcvv" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="3">
                </div>
                <div id="payment_button_div"><button id="main_payment_button" onclick="makepayment()">Make Payment</button></div>
            </div>
            <h1>3. ORDER REVIEW</h1>
            <div id="checkout_order_status_div">
                <div id="show_order_main_div">
                    <h2>Name:- </h2>
                    <p id="show_order_user_name"></p>
                    <h2>Address:- </h2>
                    <p id="show_order_user_address"></p>
                    <h2>Total Amount:- </h2>
                    <p id="show_order_user_total_amount"></p>
                    <h2>Your Order has been placeholder</h2>
                    <p id="you_will_recice_order_on"></p>
                </div>
                <div id="main_order_buttons_div"><button id="cancel_order" onclick="cancelorder()">Cancel Order</button><button id="countinue_shopping">Countinue Shopping</button></div>
            </div>
        </div>
        <div id="checkout_main_amount_div">
            <h1 id="">Total Amount</h1>
            <div id="main_amount_show_div">
                <div style="display: flex;">
                    <h2>Amount:</h2>
                    <h3 id="show_amount_to_pay"></h3>
                </div>
                <div style="display: flex;">
                    <h2>GST tax (12%):</h2>
                    <h3 id="show_tax_to_pay"></h3>
                </div>
                <div style="display: flex;">
                    <h2>Total Amount:</h2>
                    <h3 id="show_total_amount_to_pay"></h3>
                </div>
            </div>
        </div>
    </div>

    <div id = "customise_footer"></div>
</body>
</html>

<script src="/Javascript/checkout.js"></script>

<script type="module">

    import {navbar,mobile} from "/Javascript/navbar_html.js"
    let navbar_html =  navbar()
    document.querySelector("#navbar_suraj").innerHTML = navbar_html
    mobile()

    import footer from "/Javascript/footer.js"
    let footer_html = footer()
    document.querySelector("#customise_footer").innerHTML = footer_html  

</script>
