<%- include("./html", {title: "NIke Kids", navbar:"/CSS/navbar.css", signLink:"", footer:"/CSS/footer.css"})%>

    <style>
         body{
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        }
        
        #kid_container{
            width: 93%;
            overflow: hidden;
            margin: auto;
        }
        #kid_div1{
            display: flex;
            justify-content: center;
            justify-content: space-evenly;

        }
        #kid_div1>a{
          text-decoration: none;
          font-size: x-large;
          color: black;
        }
        #kid_div1>p:hover{
            cursor: pointer;
        }
        #kid_div2>div>p{
           font-size: x-large;
        }
        #kid_div2{
           
            
            margin: auto;
            overflow: hidden;
        }
      
       #kid_div5{
            text-align: center;
            
            margin: auto;
           
            padding: 80px ;
       }
       #kid_div5>h1{
        font-weight: 1000;
           font-size:80px;
            margin-top: 0px;
            word-spacing: 0px;
            letter-spacing: -5px;
            margin-bottom: 5px;
       }
       #kid_div5>p:nth-child(1){
           margin-bottom: 0px;
       }
        .kid_blackbtn{
            background-color: black;
            color: white;
            padding: 15px 40px;
            border: transparent;
            border-radius: 25px;
            font-weight: bold;
        }
        .kid_blackbtn:hover{
            cursor: pointer;
        }
        #kid_div6>div{
            font-size: x-large;
        }
        #kid_div7{
            text-align: center;
            /* align-items: center; */
            margin: auto;
          
            padding: 80px ;
        }
        #kid_div7>h1{
            font-weight: 1000;
           font-size:80px;
            margin-top: 0px;
            word-spacing: 0px;
            letter-spacing: -5px;
            margin-bottom: 5px;
        }
        #kid_div9{
            text-align: center;
            /* align-items: center; */
            margin: auto;
            padding: 80px ;
        }
        #kid_div9>h1{
            font-weight: 1000;
           font-size:80px;
            margin-top: 0px;
            word-spacing: 0px;
            letter-spacing: -5px;
            margin-bottom: 5px;
        }
        #kid_div9>p:nth-child(1){
           margin-bottom: 0px;
       }
        #kid_div7>p:nth-child(1){
           margin-bottom: 0px;
       }
       #kid_div6>div>p{
           font-size: x-large;
        }
        #kid_div8>div>p{
           font-size: x-large;
        }
        #kid_div10>div>p{
           font-size: x-large;
        }
        #kid_div3>div>p{
           font-size: x-large;
        }
        #kid_div4>div>p{
           font-size: x-large;
        }

        #kid_div10>div:nth-child(2){
            display: flex;
        }
        /* #kid_images>div:nth-child(1){
            height: 800px;
           
        } */
        #kid_im1>img{
            height: 1100px;
        }
        #kid_im2>div>img{
            height: 535px;
            margin-left: 20px;
            width: 900px;
        }
        #kid_im2>div:nth-child(2)>img{
            margin-top: 21px;
        }
        .kid_whitebtn{
           background-color: white;
            color: black;
            padding: 15px 40px;
            border: transparent;
            border-radius: 25px;
            font-weight: bold;
        }
        .kid_whitebtn:hover{
            cursor: pointer;
        }
        #kid_red{
            position: relative;
        }
        #kid_text{
            position: absolute;
            color:white;
            bottom: 20px;
            left: 20px;
        }
        #kid_text>h1{
            font-weight: 1000;
           font-size:80px;
           
            letter-spacing: -5px;
            margin-bottom: 5px;
        }
        #kid_im1{
            position:relative;
        }
        #kid_imA{
            position: absolute;
           bottom: 40px;
            left: 20px;
            color: white;
            font-size: x-large;
            
        }
        #kid_im3{
            position: relative;
        }
      
        #kid_imB{
            position: absolute;
           bottom: 40px;
            left: 50px;
            color: white;
            font-size: x-large;
        }
        #kid_im4{
            position: relative;
        }
        #kid_imC{
            position: absolute;
           bottom: 40px;
            left: 40px;
            color: white;
            font-size: x-large;
        }
        #kid_container2{
            display: flex;
            overflow-x: scroll;
            gap: 10px;
        
           
        }
        
        #kid_container2>div>img{
            width: 500px;
        }
        @media only screen and (min-width: 415px) and (max-width:820px){
            #kid_red>img{
                width: 95%;
            }
            #kid_text>h1{
                font-size: large;
                word-spacing: 5px;
                letter-spacing: 0px;
            }
            #kid_container2>div>img{
                width: 300px;
            }
            #kid_div4>div>img{
                width: 95%;
            }
            #kid_div5>h1{
                font-size: x-large;
                letter-spacing: 0px;
            }
            #kid_div6>div>img{
                width: 95%;
            }
            #kid_div7>h1{
                font-size: x-large;
                letter-spacing: 0px;
            }
            #kid_div8>div>img{
                width: 95%;
            }
            #kid_div9>h1{
                font-size: x-large;
                letter-spacing: 0px;
            }
            #kid_div10>div:nth-child(2){
             display: inline-block;
            }
            #kid_im1>img{
                width: 95%;
            }
            /* #kid_im3>img{
                
                
            } */
            
            
        }
        @media only screen and (min-width: 0px) and (max-width: 414px){
            #kid_red>img{
                width: 95%;
            }
            #kid_text>h1{
                font-size: large;
                word-spacing: 5px;
                letter-spacing: 0px;
            }
            #kid_container2>div>img{
                width: 200px;
            }
            #kid_div4>div>img{
                width: 95%;
            }
            #kid_div5>h1{
                font-size: x-large;
                letter-spacing: 0px;
            }
            #kid_div6>div>img{
                width: 95%;
            }
            #kid_div7>h1{
                font-size: x-large;
                letter-spacing: 0px;
            }
            #kid_div8>div>img{
                width: 95%;
            }
            #kid_div9>h1{
                font-size: x-large;
                letter-spacing: 0px;
            }
            #kid_div10>div:nth-child(2){
             display: inline-block;
            }
            #kid_im1>img{
                width: 80%;
            }
        }

    </style>
</head>
<body>
    <div id ="navbar_suraj"></div>
    <div id="kid_div1">
        <a href="/in/shoes2"><p>Shoes</p></a>
        <a href="/in/clothing"><p>Clothing</p></a>
    </div>

    <div id="kid_container">

        <div id="kid_div2">

            <div>
                <p>Kids</p>
            </div>
            <div id="kid_red">
                <img src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_1407,c_limit/8166ef8b-915a-4b87-9f7c-776c9feda452/nike-kids.png" alt="">
                <div id="kid_text">
                    <h1>KIDS TIGER PACK</h1>
                    <button class="kid_whitebtn">Shop</button>
                </div>
            </div>
    
        </div>
    
        <div id="kid_div3">
            <div>
                <p>The Latest & Greatest</p>
            </div>
            
            <div id="kid_container2">
                
            </div>
            
        </div>
        <div id="kid_div4">
            <div>
                <p>Trending</p>
            </div>
            
            <div>
                <img src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_1407,c_limit/963774e0-b4a8-479b-8166-0e832ccb5abf/nike-kids.png" alt="">
            </div>
        </div>
        <div id="kid_div5">
            <p>Nike Playlist</p>
            <h1>LET'S GO PLAY!</h1>
            <P>Pro athletes and special guests inspire kids to get moving with fun games & activities</P>
            <button class="kid_blackbtn">Explore</button>
        </div>
        <div id="kid_div6">
            <div>
                <p>The Latest</p>
            </div>
            <div>
                <img src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_1407,c_limit/e4d8ab5a-e81b-4299-9da9-632556b327a3/nike-kids.png" alt="">
            </div>
        </div>
        <div id="kid_div7">
            <p>Just In for Kids</p>
            <h1>NIKE AIR MAX 2021</h1>
            <p>Revolutionary style, remixed for the future</p>
            <button class="kid_blackbtn">Shop</button>
        </div>
        <div id="kid_div8">
            <div>
                <p>Don't Miss</p>
            </div>
            <div>
                <img src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_1407,c_limit/b9f0d2c6-e26c-423b-965c-3ad5c30dab63/nike-kids.png" alt="">
            </div>
        </div>
        <div id="kid_div9">
            <p>Mix-&-Match Gear for Kids</p>
            <h1>NEW DIMENSIONS OF PLAY</h1>
            <P>The latest comfy threds for kids who are ready to explore</P>
            <button class="kid_blackbtn">Shop</button>
        </div>
        <div id="kid_div10">
            <div>
                <p>The Essentials</p>
            </div>
            <div id="kid_images" >
                <div id="kid_im1">
                    <img src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/h_1216,c_limit/3cb8dce9-2b1d-4e6c-b85b-97a34ef1aaf8/nike-kids.jpg" alt="">
                    <div id="kid_imA">
                        <p>T-shirts</p>
                        <button class="kid_whitebtn">Shop</button>
                    </div>

                </div>

                <div id="kid_im2">
                    <div id="kid_im3">
                        <img src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_696,c_limit/229b16b0-92d9-4ad7-8109-99c8e778b6bd/nike-kids.jpg" alt="">
                        <div id="kid_imB">
                            <p>Sports</p>
                            <button class="kid_whitebtn">Shop</button>
                        </div>
                    </div>
                   <div id="kid_im4">
                    <img src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_696,c_limit/3c8a94a1-5aa3-4983-b858-330c60636724/nike-kids.jpg" alt="">
                    <div id="kid_imC">
                        <p>Hoodies & Sweatshirts</p>
                        <button class="kid_whitebtn">Shop</button>
                    </div>
                   </div>
                   
                </div>

            </div>
        </div>

    </div>

    <div id = "customise_footer"></div>
  
</body>
</html>
<script type = "module">

    import {navbar,mobile} from "/Javascript/navbar_html.js"
    let navbar_html =  navbar()
    document.querySelector("#navbar_suraj").innerHTML = navbar_html
    mobile()
  
    import footer from "/Javascript/footer.js"
    let footer_html = footer()
    document.querySelector("#customise_footer").innerHTML = footer_html  
  </script>
<script>
        fetchData()
        async function fetchData(){
        let res=await fetch("https://myfirssstapinodejs.herokuapp.com/kidsShoes")
        data= await res.json()
        appendData(data);
   }
   


    function appendData(arr){
        arr.forEach(function(elem){
            let container=document.getElementById('kid_container2')
            let div=document.createElement('div')
            let img=document.createElement('img')
            img.src=elem.product_image[0]
            let title=document.createElement('p')
            title.innerText=elem.product_name
            let cat=document.createElement('p')
            cat.innerText=elem.product_category
            let price=document.createElement('p')
            price.innerText='₹'+elem.product_price;
            div.append(img,title,cat,price)
            container.append(div);
        })
    }

</script>