<%- include("./html", {title: "Nike Products", navbar:"/CSS/navbar.css", signLink:"", footer:"/CSS/footer.css"})%>

    <link nes="" rel="icon" sizes="128x128" href="https://www.nike.com/android-icon-128x128.png">
    <link rel="stylesheet" href="/CSS/product_show.css">
    <script src="https://kit.fontawesome.com/683b4b40e3.js" crossorigin="anonymous"></script>
    
    <div id ="navbar_suraj"></div>

    <div id="Product_show_main_div"></div>
    <div id="product_show_more_similar_products">
        <h1>You Might Also Like</h1>
        <div id="product_show_more_similar_products_show"></div>
    </div>
   
    <div id ="customise_footer"></div>
</body>
</html>
<script src="/Javascript/product_show.js"></script>
<script type = "module">
  
    import {navbar,mobile} from "/Javascript/navbar_html.js"
    mobile()
    let navbar_html =  navbar()
    document.querySelector("#navbar_suraj").innerHTML = navbar_html
  
    import footer from "/Javascript/footer.js"
    let footer_html = footer()
    document.querySelector("#customise_footer").innerHTML = footer_html  
</script>