<%- include("./html", {title: "Nike Sales", navbar:"/CSS/navbar.css", signLink:"", footer:"/CSS/footer.css"})%>

    <link nes="" rel="icon" sizes="128x128" href="https://www.nike.com/android-icon-128x128.png">
    <script src="https://kit.fontawesome.com/683b4b40e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/sales.css">
    <style>

    </style>
</head>
<body>

    <div id="navbar_suraj"></div> 

        <div id = "sale_topbar">
            <div>
                <p id = "sale_head"> Sale</p>
            </div>
            <div id = "sale_filter_sort"> 
              <div id = "filter_sec">
                <p>Show Filters</p>
                    <img id = "filter" src="https://cdn.iconscout.com/icon/free/png-64/filter-3583346-3007732.png" alt="">
              </div>
            
                <p id = "sort_by">Sort By:
                <div id = "sort_arrow">&#x276D;</div>
                </p>
          </div>
        </div>
        <div id = "sale_sorting_list"></div>
        <div>
            <div id = "filter_corner"></div>
            <div id = "sale_products"></div>
        </div>
        <div id = "customise_footer"></div>
</body>
</html>

<!-- <script src="../script/navbar.js"></script> -->
<script src="/Javascript/sales.js"></script>

<script type ="module">

import footer from "/Javascript/footer.js"
    let footer_html = footer()
    document.querySelector("#customise_footer").innerHTML = footer_html  

    var men = document.getElementById("men_page_nav_bar").addEventListener("click",() =>
    {
        window.location.href = "men.html"
    })

</script>