<%- include("./html", {title: "Sneakers Feed", navbar:"/CSS/navbar.css", signLink:"", footer:"/CSS/footer.css"})%>

    <title>Snickers</title>
  <link rel="stylesheet" href="./sneakersstyle/sneakers.css">
  </head>
  <body onload="sneakerfeed()">
    <div id = "navbar_suraj"></div>
    <div id="feed-header">
      <p onclick="FeedPage()" >Feed</p>
      <p onclick="InStockPage()" >In-Stock </p>
      <p onclick="UpcomingPage()"  >Upcoming</p>
    </div>
    <div id="feed-main"></div>
    <div id = "customise_footer"></div>
  </body>
</html>
<script src="js/sneakerdata.js"></script>
<script type = "module">
  
  import navbar from "/Javascript/navbar.js"
  let navbar_html =  navbar()
  document.querySelector("#navbar_suraj").innerHTML = navbar_html


  import footer from "/Javascript/footer.js"
  let footer_html = footer()
  document.querySelector("#customise_footer").innerHTML = footer_html  
</script>

