<%- include("./html", {title: "Sneakers in Stock", navbar:"/CSS/navbar.css", signLink:"", footer:"/CSS/footer.css"})%>

    <link rel="stylesheet" href="/CSS/sneakers.css" />
  <body onload="inStock()">
    <div id = "navbar_suraj"></div>
    <div id="feed-header">
      <p onclick="FeedPage()">Feed</p>
      <p onclick="InStockPage()">In-Stock</p>
      <p onclick="UpcomingPage()">Upcoming</p>
    </div>
    <div id="instock-main"></div>
    <div id = "customise_footer"></div>
  </body>
</html>
<script src="/Javascript/sneakerdata.js"></script>
<script type = "module">

  import {navbar,mobile} from "/Javascript/navbar_html.js"
    mobile()
    let navbar_html =  navbar()
    document.querySelector("#navbar_suraj").innerHTML = navbar_html


  import footer from "/Javascript/footer.js"
  let footer_html = footer()
  document.querySelector("#customise_footer").innerHTML = footer_html  
</script>
