<%- include("./html", {title: "Women's Shoes Nike In", navbar:"/CSS/navbar.css", signLink:"", footer:"/CSS/footer.css"})%>

    <link nes="" rel="icon" sizes="128x128" href="https://www.nike.com/android-icon-128x128.png">
    <link rel="stylesheet" href="../Style/women_shoes_cloth.css">
    <script src="https://kit.fontawesome.com/683b4b40e3.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navbar -->
    <div id="navbar_suraj"></div>

    <div id="women_shoe_main_div">
        <div id="women_shoes_filter_sort">
            <h1>Women's Shoes</h1>
            <div style="display: flex;">
                <select onchange="fiter_data()" id="fitler_women_shoe_clothing">
                    <option value="">Filter</option>
                    <option value="Women's Shoes">Shoes</option>
                    <option value="Skate Shoe">Skate Shoe</option>
                    <option value="Women's Road Running Shoes">Running Shoes</option>
                    <option value="Women's Training Shoes">Training Shoes</option>
                </select>
                <select onchange="sort_data()" id="sort_women_shoe_clothing">
                    <option value="">Sort</option>
                    <option value="low">Low-High</option>
                    <option value="">High-low</option>
                </select>
            </div>
        </div>
        <div id="women_shoes_container"></div>
    </div>
    <div id = "customise_footer"></div>
</body>
</html>

<script type = "module">

    import navbar from "/Javascript/navbar.js"
    let navbar_html =  navbar()
    document.querySelector("#navbar_suraj").innerHTML = navbar_html
  
  
    import footer from "/Javascript/footer.js"
    let footer_html = footer()
    document.querySelector("#customise_footer").innerHTML = footer_html  
  </script>

<script src="../Script/women_shoes.js"></script>
<script>
    var men = document.getElementById("men_page_nav_bar").addEventListener("click",Menpage)
 function Menpage(){
     window.location.href = "men.html"
 }
</script>