<%- include("./html", {title: "Women's Clothing. Nike In", navbar:"/CSS/navbar.css", signLink:"", footer:"/CSS/footer.css"})%>

    <link nes="" rel="icon" sizes="128x128" href="https://www.nike.com/android-icon-128x128.png">
    <link rel="stylesheet" href="../Style//women_shoes_cloth.css">
    <script src="https://kit.fontawesome.com/683b4b40e3.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navbar -->
    <div id="navbar_suraj"></div>

    <div id="women_shoe_main_div">
        <div id="women_shoes_filter_sort">
            <h1>Women's Shoes</h1>
            <div style="display: flex;">
                <select onchange="fiter_data()" id="fitler_women_shoe_clothing">
                    <option value="">Filter</option>
                    <option value="Women's Fleece Hoodie">Hoodie</option>
                    <option value="Women's T-Shirt">Tops & T-Shirts</option>
                    <option value="Women's Mid-Rise Running Leggings">Running Leggings</option>
                    <option value="Women's Jacket">Jackets & Gilets</option>
                    <option value="Women's Printed Running Shorts">Running Shorts</option>
                </select>
                <select onchange="sort_data()" id="sort_women_shoe_clothing">
                    <option value="">Sort</option>
                    <option value="low">Low-High</option>
                    <option value="high">High-low</option>
                </select>
            </div>
        </div>
        <div id="women_shoes_container"></div>
    </div>
</body>
</html>

<script src="../script/navbar.js"></script>

<script src="../Script/women_clothing.js"></script>

<script>
    var men = document.getElementById("men_page_nav_bar").addEventListener("click",Menpage)
 function Menpage(){
     window.location.href = "men.html"
 }
</script>